<div class="thinking-form-container">
  <a href="/thinking/dashboard">Return</a>
  <h1>Edit Thinking</h1>
  <form action="/thinking/edit" method="post">
    <input type="hidden" name="id" value="{{thinking.id}}" />
    <div class="form-control">
      <label for="title">Thinking</label>
      <input
        type="text"
        name="title"
        placeholder="Create a Thinking"
        value="{{thinking.title}}"
      />
    </div>
    <input type="submit" value="Update" />
  </form>
</div>